{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/createcourse.css" %}"> 

<form action="" method="POST">  
    {% csrf_token %}
    <div class="container">
        <h1>Create Course</h1>
        <hr>
        
        <label for="id"><b>Id </b></label>
        <input type="text" placeholder="Enter Course ID" name="id" id="id" required>

        <label for="name"><b>Name </b></label>
        <input type="text" placeholder="Enter Course Name" name="name" id="name" required>

        <label for="description"><b>Description</b></label>
        <input type="text" placeholder="Enter Description" name="description" id="description" required>
        
        <label for="prerequisites"><b>Prerequisites</b></label>
        <select name="prerequisites" id="prerequisites" multiple>
            {% for course in courses %}
                <option value="{{ course.id }}">{{ course.id }} - {{ course.name }}</option>
            {% endfor %}
        </select>

        <label for="instructor"><b>Instructor</b></label>
        <input type="text" placeholder="Enter Instructor" name="instructor" id="instructor" required>

        <label for="capacity"><b>Capacity</b></label>
        <input type="number" placeholder="Enter Capacity" name="capacity" id="capacity" required>

        <hr>
        <h1>Create Schedule</h1>
        <hr>
                    
        <label for="startTime"><b>Start Time</b></label>
        <input type="time" name="startTime" id="startTime" required>
            
        <label for="endTime"><b>End Time</b></label>
        <input type="time" name="endTime" id="endTime" required>
        
        <label for="days"><b>Days</b></label>
        <select name="days" id="days" required>
            <option value="3-days">Sunday-Tuesday-Thursday</option>
            <option value="2-days">Monday-Wednesday</option>
        </select>
        
        <label for="roomNo"><b>Room Number</b></label>
        <input type="text" name="roomNo" id="roomNo" required>
        
        <hr>
        <button type="submit" class="createbtn">Submit</button>
    </div>
</form>
{% endblock content %}
