{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static "css/courseschedules.css" %}"> 
<form action="" method="POST">  
    {% csrf_token %}
    <div class="container">
        <h1>Create Schedule</h1>
        <hr>
        
        <label for="startTime"><b>Start Time</b></label>
        <input type="time" name="startTime" id="startTime" required>

        <label for="endTime"><b>End Time</b></label>
        <input type="time" name="endTime" id="endTime" required>
        
        <label for="days"><b>Days</b></label>
        <select name="days" id="days" required>
            <option value="sun">Sunday</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wen">Wednesday</option>
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
        </select>

        <label for="roomNo"><b>Room Number</b></label>
        <input type="text" name="roomNo" id="roomNo" required>
        
        <hr>
        <button type="submit" class="createbtn">Submit</button>
    </div>
</form>
{% endblock content %}
