
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Courses</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "courses" %}">All Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">logout</a>
          </li>
        </ul>

        <a href="{% url 'notification' %}">
          <button type="button" class="icon-button">
            <span class="material-icons">notifications</span>
            {% comment %} <span class="icon-button__badge"></span> {% endcomment %}
          </button>
        </a>
      </div>
    </div>
  </nav>