
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/createcourse.css" %}"> 
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <h1>Update Course</h1>
        <hr>
        
        <label for="id"><b>Id </b></label>
        <input type="text" id="id" value="{{ form.id.value }}" disabled>
        <input type="hidden" name="id" value="{{ form.id.value }}">

        <label for="name"><b>Name </b></label>
        <input type="text" name="name" id="name" value="{{ form.name.value }}" required>

        <label for="description"><b>Description</b></label>
        <input type="text" name="description" id="description" value="{{ form.description.value }}" required>
        
        <label for="prerequisites"><b>Prerequisites</b></label>
        <select name="prerequisites" id="prerequisites">
            <option value="">None</option>
            {% for course in courses %}
                <option value="{{ course.id }}" {% if form.prerequisites.value == course.id %}selected{% endif %}>{{ course.id }} - {{ course.name }}</option>
            {% endfor %}
        </select>

        <label for="instructor"><b>Instructor</b></label>
        <input type="text" name="instructor" id="instructor" value="{{ form.instructor.value }}" required>

        <label for="capacity"><b>Capacity</b></label>
        <input type="number" name="capacity" id="capacity" value="{{ form.capacity.value }}" required>

        <label for="scheduled"><b>Scheduled</b></label>
        <select name="scheduled" id="scheduled">
          <option value="">None</option>
            {% for schedule in scheduled %}
                <option value="{{ schedule.id }}" {% if form.scheduled.value == schedule.id %}selected{% endif %}>{{ schedule.get_days_display }} {{ schedule.startTime }} - {{ schedule.endTime }} (Room: {{ schedule.roomNo }})</option>
            {% endfor %}
        </select>

        <hr>
        <button type="submit" class="updatebtn">Submit</button>
    </div>
</form>
{% endblock content %}
