{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/createcourse.css" %}"> 

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
          </div>

    {% endfor %}
</div>
{% endif %}

<div class="container">
    <h1>Update Course</h1>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}

        <label for="id">Id</label>
        {{ form.id }}

        <label for="name">Name</label>
        {{ form.name }}

        <label for="description">Description</label>
        {{ form.description }}

        <label for="prerequisites">Prerequisites</label>
        {{ form.prerequisites }}

        <label for="instructor">Instructor</label>
        {{ form.instructor }}

        <label for="capacity">Capacity</label>
        {{ form.capacity }}

        <h2>Update Schedule</h2>
        <hr>

        {% if scheduled %}
            <label for="startTime">Start Time</label>
            <input type="time" name="startTime" id="startTime" value="{{ scheduled.startTime|time:'H:i' }}" required>
                
            <label for="endTime">End Time</label>
            <input type="time" name="endTime" id="endTime" value="{{ scheduled.endTime|time:'H:i' }}" required>
            
            <label for="days">Days</label>
            <select name="days" id="days" required>
                <option value="3-days" {% if scheduled.days == '3-days' %}selected{% endif %}>Sunday-Tuesday-Thursday</option>
                <option value="2-days" {% if scheduled.days == '2-days' %}selected{% endif %}>Monday-Wednesday</option>
            </select>
            
            <label for="roomNo">Room Number</label>
            <input type="text" name="roomNo" id="roomNo" value="{{ scheduled.roomNo }}" required>
            <hr>
        {% endif %}
        
        <button type="submit" class="createbtn">Update</button>
    </form>
</div>
{% endblock content %}
